aiodns==2.0.0
aiohttp==3.7.1
async-timeout==3.0.1
attrs==20.2.0
brotlipy==0.7.0
cchardet==2.1.6
cffi==1.14.3
chardet==3.0.4
idna==2.10
multidict==5.0.0
pycares==3.1.1
pycparser==2.20
typed-ast==1.4.0
typing-extensions==3.7.4.3
vdf==3.2
yarl==1.6.2
